body { background: #ffce0d; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 30px; display: flex; }
.block-router-0 { color: #961810; font-size: 20px; margin-bottom: 5px; }
.block-metrics-1 { color: #e9a6d2; font-size: 15px; margin-bottom: 5px; }
.block-payment-2 { color: #1e7f02; font-size: 16px; margin-bottom: 5px; }
.block-payment-3 { color: #a887d5; font-size: 14px; margin-bottom: 5px; }
.block-auth-4 { color: #30fcab; font-size: 19px; margin-bottom: 5px; }